body {
  font: 14px helvetica neue, helvetica, arial, sans-serif;
}

#cy {
  left: 0;
  top: 0;
  z-index: 999;
  background: #ffffff;
  border-image: none;
  padding: 0;
  min-height: 300px;
  clear: both;
  display: block;
  height: 80vh;
  position: relative;
}

.description {
  text-transform: uppercase;
  font-weight: bold;
  color: #1ab394;
  margin-top: 18px;
  margin-left: 30px;
  display: block;
}

/* #all-buttons {
    padding-right: 80px;
}

#find-path-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 50px;
}

#find-path-buttons btn-sm {
    flex: 1;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
} */

/* #residual-graph {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 50px;
} */

/* #residual-graph btn-sm {
    flex: 1;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
} */
/* 
#proceed-step {
    margin-top: 10px;
}

#confirm-max-flow {
    margin-top: 30px;
}

#find-min-cut {
    margin-top: 30px;
} */

#helper-text {
  position: absolute;
  top: 1vw;
  right: 15vw;
}

#helper-text ul {
  position: absolute;
  width: 20vw;
  font-size: medium;
}
